/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   The goal of a reset style-sheet is to reduce browser inconsistencies in things like default line heights, margins and font sizes of headings...
*/
 html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing:border-box;
}
/* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
html {
    height: 100%;
    background-color: #FFFFFF;
}
body {
    line-height: 1.4;
    height: 100%;
    width:100%;
    font-size: 18px;
    font-family:'Crimson Text', serif;
    background-image: url("images/dirt.png");
}
h1 {
    line-height: 2;
}
h2 {
    line-height: 1.6;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content:'';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*=================================
Navigation - pulsing button
=================================*/
 .btn-pulse {
    display: block;
    width:50px;
    height:50px;
    position: absolute;
    left: 20px;
    top: 20px;
    background: url('images/menu.png') center center no-repeat;
    -webkit-animation: pulse_animation 1s ease-in-out infinite;
    -webkit-transform:tramslateZ(0);
    -moz-animation: pulse_animation 1s ease-in-out infinite;
    -moz-transform:tramslateZ(0);
    -o-animation: pulse_animation 1s ease-in-out infinite;
    -o-transform:tramslateZ(0);
    animation: pulse_animation 1s ease-in-out infinite;
    transform:tramslateZ(0);
}
@-webkit-keyframes pulse_animation {
    50% {
        -webkit-transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(1);
    }
}
@-moz-keyframes pulse_animation {
    50% {
        -moz-transform: scale(1.1);
    }
    100% {
        -moz-transform: scale(1);
    }
}
@-o-keyframes pulse_animation {
    50% {
        -o-transform: scale(1.1);
    }
    100% {
        -o-transform: scale(1);
    }
}
@keyframes pulse_animation {
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
/*=================================
Team name
==================================*/
 .team-name {
    text-align: center;
    color:black;
    text-decoration: none;
    font-size: 22px;
    width:180px;
    height: 70px;
    line-height: 36px;
    border: 2px solid;
    border-radius: 5px;
    float:right;
    margin:20px;
    line-height: 50px;
}
.team-name::after {
    display: block;
    content:" ";
    width:200px;
    height:80px;
    background: url(images/ribbon.png);
    position:absolute;
    top:41px;
    right:-13px;
}
.link-SoftUni {
    text-decoration: none;
}
.grow-rotate {
    display: inline-block;
    -webkit-transition-duration: 0.3s;
    -moz-transform-duration:0.3s;
    -o-transform-duration:03s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    -moz-transition-property: transform;
    -o-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -0-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.grow-rotate:hover, .grow-rotate:focus, .grow-rotate:active {
    -webkit-transform: scale(1.1) rotate(4deg);
    -moz-transform: scale(1.1) rotate(4deg);
    -o-transform: scale(1.1) rotate(4deg);
    transform: scale(1.1) rotate(4deg);
}
.team-name:hover {
   background: -moz-linear-gradient(-45deg, rgba(169,199,206,0) 0%, rgba(169,199,206,0.8) 15%, rgba(169,199,206,1) 19%, rgba(169,199,206,1) 20%, rgba(146,194,206,1) 50%, rgba(167,200,209,1) 80%, rgba(167,200,209,1) 81%, rgba(167,200,209,0.8) 85%, rgba(167,200,209,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(169,199,206,0)), color-stop(15%,rgba(169,199,206,0.8)), color-stop(19%,rgba(169,199,206,1)), color-stop(20%,rgba(169,199,206,1)), color-stop(50%,rgba(146,194,206,1)), color-stop(80%,rgba(167,200,209,1)), color-stop(81%,rgba(167,200,209,1)), color-stop(85%,rgba(167,200,209,0.8)), color-stop(100%,rgba(167,200,209,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg, rgba(169,199,206,0) 0%,rgba(169,199,206,0.8) 15%,rgba(169,199,206,1) 19%,rgba(169,199,206,1) 20%,rgba(146,194,206,1) 50%,rgba(167,200,209,1) 80%,rgba(167,200,209,1) 81%,rgba(167,200,209,0.8) 85%,rgba(167,200,209,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg, rgba(169,199,206,0) 0%,rgba(169,199,206,0.8) 15%,rgba(169,199,206,1) 19%,rgba(169,199,206,1) 20%,rgba(146,194,206,1) 50%,rgba(167,200,209,1) 80%,rgba(167,200,209,1) 81%,rgba(167,200,209,0.8) 85%,rgba(167,200,209,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg, rgba(169,199,206,0) 0%,rgba(169,199,206,0.8) 15%,rgba(169,199,206,1) 19%,rgba(169,199,206,1) 20%,rgba(146,194,206,1) 50%,rgba(167,200,209,1) 80%,rgba(167,200,209,1) 81%,rgba(167,200,209,0.8) 85%,rgba(167,200,209,0) 100%); /* IE10+ */
background: linear-gradient(135deg, rgba(169,199,206,0) 0%,rgba(169,199,206,0.8) 15%,rgba(169,199,206,1) 19%,rgba(169,199,206,1) 20%,rgba(146,194,206,1) 50%,rgba(167,200,209,1) 80%,rgba(167,200,209,1) 81%,rgba(167,200,209,0.8) 85%,rgba(167,200,209,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a9c7ce', endColorstr='#00a7c8d1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
/*===============================
Page Navigation
================================*/
 a {
    text-decoration: none;
    color:white;
}
.page-navigation {
    font-family:'Crimson Text', serif;
    width:200px;
    height: 100%;
    background: #222222;
    text-align: center;
    display: none;
    font-style: italic;
}
.page-navigation ul {
    position: relative;
    top:40%;
}
.page-navigation__item:hover a{
    color:#A1BFC8;
}
